<div class="px-4 py-3 text-center">
  <h1 *ngIf="hero" class="display-5 fw-bold">{{hero.name}}</h1>
</div>

<div *ngIf="hero" class="row col-6 card shadow mx-auto my-5 py-2">

  <div class="card-body">
    <h2 class="card-title text-center">{{hero.name}}</h2>
    <p class="card-text">taille: {{hero.height}}</p>
    <p class="card-text">masse: {{hero.mass}}</p>
    <p class="card-text">couleur des cheveux: {{hero.hair_color}}</p>
    <p class="card-text">couleur de peau: {{hero.skin_color}}</p>
    <p class="card-text">couleur des yeux: {{hero.eye_color}}</p>
    <p class="card-text">année de naissance: {{hero.birth_year}}</p>
    <p class="card-text">genre: {{hero.gender}}</p>
    <p class="card-text">
      <small class="text-muted">
        Créé le {{hero.created|date:"dd/MM/yyyy"}}, dernière modification : {{hero.edited|date:"dd/MM/yyyy"}}
      </small>
    </p>
  </div>
  <hr>

  <div class="d-flex justify-content-end">
    <a class="btn btn-warning mx-1">Modifier</a>
    <a routerLink="/heroes" class="btn btn-outline-dark mx-1">Retour</a>
  </div>

</div>

